<%= form_with(model: [ @post, @post.comments.build ], local: true, class: 'form-group') do |form| %>
  <p>
    <%= form.text_field :commenter, class: 'form-control', type: ('hidden' if current_user), placeholder: 'Name' %>
  </p>
  <p>
    <%= form.text_area :body, class: 'form-control', placeholder: 'Comment' %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-outline-primary' %>
  </p>
<% end %>
