<div class="<%= comment.plus - comment.minus >= 0 ? 'text-success' : 'text-danger' %> likes">
  <p class="result"><%= comment.plus - comment.minus %></p>
  <div class="info">
    <p class="text-success"> <%= comment.plus %></p>
    <p class="text-danger"><%= -comment.minus %></p>
  </div>
</div>
