<%= form_with(model: [ @post, @post.ratings.build ], local: true, class: 'form-star') do |form| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@rating.errors.count, 'error') %></h4>
      <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.select 'rating', options_for_select([1, 2, 3, 4, 5], 5), {},
                  { id: 'rating', onchange: 'this.form.submit();' } %>
<% end %>

<script type="text/javascript">
    $(function() {
        $('#rating').barrating({
            theme: 'fontawesome-stars'
        });
    });
</script>
