<h2 class="text-center">Blog Rails</h2>

<% @posts.each do |post| %>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <%= image_tag post.img, width:250, class: 'img-thumbnail' %>
  <p><%= post.body.first(200) %> <%= link_to 'more', post_path(post) %></p>
<% end %>
