@import 'bootstrap';
@import 'bootstrap/glyphicons';
@import 'fontawesome-stars';

/* header */
.bg-header {
  background-color: #2E6CDF;
  height: 100px !important;
  padding-top: 30px;
  margin-bottom: 30px;
}

.navbar {
  padding: 0 !important;
  ul {
    height: 34px;
    margin-bottom: 10px;
  }
}
.navbar-nav {
  flex-direction: row !important;
  .nav-link {
    padding-right: 10px !important;
  }
}

/* Forms */
main {
  min-height: calc(100vh - 180px);
  i {
    vertical-align: middle;
    padding-right: 2px;
  }
  .form-user {
    width: 30% !important;
  }
  .order,
  .action {
    padding-left: 10px;
    a:hover {
      text-decoration: none;
    }
  }
  .search {
    .input-group {
      width: 30%;
      margin: 0 auto;
    }
  }
  .input-group-text {
    i {
      line-height: 1;
      text-align: center;
    }
  }
  .field_with_errors {
    input {
      border-color: #721c24;
    }
  }
}

/* Posts */
.post {
  margin-bottom: 0.5em;
  h3,
  .action {
    display: inline-block;
    vertical-align: middle;
  }
}

.post-info {
  margin-bottom: 0.5em;
  li {
    padding: 0.5em;
    a:hover {
      text-decoration: none;
    }
  }
}

.thumb {
  float: left;
  margin-right: 1em;
  margin-bottom: 0.5em !important;
}

.img-thumbnail {
  margin-bottom: 1em;
}

/* Comments*/
.comment {
  padding: 10px;
  margin-bottom: 20px !important;
  li {
    padding: 0.5em;
  }
  .date {
    padding-right: 10px;
  }
  .user-mark {
    padding-top: 5px;
    margin: 0;
    a{
      vertical-align: middle;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.reply-comment {
  padding-left: 30px;
}

.reply-comment .reply-comment .reply-comment .reply-comment .reply-comment .reply-comment {
  padding: 0;
}

.btn-reply {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* LIKE */
.like {
  text-align: right;
  form {
    display: inline-block;
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
  }
  .btn {
    min-width: 40px;
  }
  div {
    display: inline-block;
  }
}

.likes {
  width: 45px;
  text-align: center;
  display: inline-block;
  .info {
    display: none;
  }
  p {
    display: inline-block;
    margin: 0;
  }
}

/* USERS */
.users li {
  padding: 0.5em;
}

/* footer */
footer {
  .github {
    p {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: none;
    }
    .navbar-nav-svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

/* FORM with JS */
.flp {
  padding: 0 50px;
  .js-placeholder {
    position: relative;
    margin-bottom: 20px;
    input,
    label {
      width: 400px;
      display: block;
      font: inherit;
      font-size: 16px;
      line-height: 24px;
      height: 46px;
      border: 1px solid #999;
    }
    input {
      padding: 10px;
      outline: none;
      border-radius: 3px;
    }
    label {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px 8px;
      border-color: transparent;
      color: #666;
      cursor: text;
      /*label styles*/
      .ch {
        display: block; float: left;
        position: relative;
        background: white;
      }
      .ch:first-child {padding-left: 2px;}
      .ch:last-child {padding-right: 2px;}

      /*active input label*/
      .focussed {
        pointer-events: none;
      }
    }
  }
}

.tag-link a {
  width: auto;
  height: 10%;
  z-index: 1;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
    z-index: 2;
  }
}
