@import 'bootstrap';

/* header */
.bg-header {
  background-color: #2E6CDF;
  height: 100px !important;
  padding-top: 30px;
  margin-bottom: 30px;
}

.navbar {
  padding: 0 !important;
  ul {
    height: 34px;
    margin-bottom: 10px;
  }
}

/* Forms */
.form-group {
  width: 50% !important;
}

.form-user {
  width: 30% !important;
}

/* Posts */
.post, .post-info {
  margin-bottom: 0.5em;
}

.thumb {
  float: left;
  margin-right: 1em;
  margin-bottom: 0.5em !important;
}

.img-thumbnail {
  margin-bottom: 1em;
}
.padding {
  padding: 0.5em;
}

/* Comments*/
.comment {
  padding: 10px;
  margin-bottom: 20px !important;
}
