/* Comments*/
.comment {
  padding: 10px;
  margin-bottom: 20px !important;
  li {
    padding: 0.5em;
  }
  .date {
    padding-right: 10px;
  }
  .user-mark {
    padding-top: 5px;
    margin: 0;
    a{
      vertical-align: text-bottom;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.reply-comment {
  padding-left: 30px;
}

.reply-comment .reply-comment .reply-comment .reply-comment .reply-comment .reply-comment {
  padding: 0;
}

.btn-reply {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* LIKE */
.like {
  text-align: right;
  form {
    display: inline-block;
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
  }
  .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
  div {
    display: inline-block;
  }
}

.likes {
  width: 45px;
  text-align: center;
  display: inline-block;
  .info {
    display: none;
  }
  p {
    display: inline-block;
    margin: 0;
  }
}
