<input type="hidden" id="views" value="<%= session[:views] %>">
<div class="modal fade" id="dialog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>Learn Ruby on Rails with <a href="http://geekhub.ck.ua/courses/#ruby-on-rails">Geekhub</a>!</p>
        <iframe width="420" height="270" src="https://www.youtube.com/embed/cgoUP30ag2k" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
